.container {
    height: 900px;
    max-width: 1500px;
    margin: 0 auto;
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.logo {
    display: flex;
    justify-content: center;
}

.logo figure img {
    margin-top: 50px;
    width: 300px;
}


.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    height: 100px;
    font-size: 40px;
    text-align: center;
    margin-top: 100px
}

.usuarios {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 700px;
    margin-top: 30px;
    margin-bottom: 100px;;
   

}
/*.usuarios li {opacity: 0.8;

}
.usuarios li:hover {opacity: 1.0;} */

.usuarios li img {
    border-radius: 15px;
    width: 160px;
    margin: 1x;}

.usuarios li .imagem:hover { border-radius: 15px;
    border: 2px white solid;
    margin: -2px;
    
}
.usuarios li.usu4 {
    width: 160px;


}
 .usuarios li .borda {border-radius:  15px;
    background-color: rgba(128, 128, 128, 0.222);
width: 160px;
height: 160px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}

.usuarios li .usu4 figure {height: 300px;
border: 1px white solid}

.usuarios .usu4 img {height: 60px;
width: 60px;} 

.usuarios li { display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 16px;
}

.usuarios li h2:hover {opacity: 0.5;}

.botao {
    text-align: center;
}

.botao form button {
    height: 50px;
    width: 200px;
    border-radius: 15px;
    background-color: black;
    border: solid white 1px;
    color: white;
    
}

.botao form button:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    transition: 0.6s;
    
}